APP_PORT=8080
ARTIFACTORY_NPM_REGISTRY="https://some-department/some-company.com/artifactory/api/npm/mirror-npmjs/"
ARTIFACTORY_TOKEN="PLACE YOUR TOKEN IN HERE OBTAINED FROM ARTIFACTORY"
DOCKER_REGISTRY="some-department.some-company.com/"
